<section class="blog-management">

  <!-- Header -->

  <div class="page-header">

    <div>

      <span class="eyebrow">
        CONTENT MANAGEMENT
      </span>

      <h1>
        Blog Articles
      </h1>

      <p>
        Create, edit and manage your MyTechArea articles.
      </p>

    </div>

    <a
      routerLink="/admin/blogs/create"
      class="create-button"
    >
      + Create Blog
    </a>

  </div>


  <!-- Error -->

  @if (errorMessage) {

    <div class="error-message">
      {{ errorMessage }}
    </div>

  }


  <!-- Loading -->

  @if (loading) {

    <div class="loading">
      Loading articles...
    </div>

  }


  <!-- Table -->

  @if (!loading) {

    <div class="blog-table">

      <div class="table-header">

        <span>ARTICLE</span>
        <span>CATEGORY</span>
        <span>AUTHOR</span>
        <span>STATUS</span>
        <span>DATE</span>
        <span>ACTIONS</span>

      </div>


      @for (blog of blogs; track blog._id) {

        <div class="table-row">

          <!-- Article -->

          <div class="article-info">

            <div class="article-image">

              @if (blog.featuredImage) {

                <img
                  [src]="blog.featuredImage"
                  [alt]="blog.title"
                />

              } @else {

                <span>
                  {{ blog.category?.charAt(0) }}
                </span>

              }

            </div>

            <div>

              <strong>
                {{ blog.title }}
              </strong>

              <small>
                {{ blog.slug }}
              </small>

            </div>

          </div>


          <!-- Category -->

          <span class="category">
            {{ blog.category }}
          </span>


          <!-- Author -->

          <span class="author">
            {{ blog.author }}
          </span>


          <!-- Status -->

          <span
            class="status"
            [class.published]="blog.status === 'published'"
            [class.draft]="blog.status !== 'published'"
          >

            <i></i>

            {{ blog.status }}

          </span>


          <!-- Date -->

          <span class="date">

            {{ blog.createdAt | date:'mediumDate' }}

          </span>


          <!-- Actions -->

          <div class="actions">

            <a
              [routerLink]="['/admin/blogs/edit', blog._id]"
              class="edit-button"
            >
              Edit
            </a>

            <button
              type="button"
              class="delete-button"
              (click)="deleteBlog(blog._id)"
            >
              Delete
            </button>

          </div>

        </div>

      }


      @if (blogs.length === 0) {

        <div class="empty-state">

          <h2>
            No articles yet
          </h2>

          <p>
            Create your first MyTechArea article.
          </p>

          <a
            routerLink="/admin/blogs/create"
            class="create-button"
          >
            + Create Blog
          </a>

        </div>

      }

    </div>

  }

</section>